{% extends "challenge/base.html" %}
{% block contenu %}
  <h1>Résultat de l'épreuve {{ epreuve.numero }}</h1>
  {% if score > 0 %}
  <p class='succes'><i class='fa fa-star'></i>Épreuve réussie !<i class='fa fa-star'></i> </p>
  <p>Cette épreuve vous rapporte <i class='fa fa-star smaller'></i>{{ score }}</p>
  <p>Au total vous avez <i class='fa fa-star smaller'></i>{{ scoreTot }}</p>
  {% else %}
  <p class='echec'>Échec !</p>
    {% if score == 0 %}
    <p>La solution fournie est incorrecte : </p>
    <p>{{ message|safe }}</p>

    {% elif score == -2 %}
    <p>Votre programme met trop de temps à s'executer, il ne peut pas être jugé mais il contient probablement une erreur.</p>

    {% elif score == -1 %}
    <p>Votre programme contient une erreur de syntaxe, vérifiez le code.</p>
    <p class='syntax-error'>{{ message | safe}}</p>
  {% endif %}
  {% endif %}
  <div id="boutons">
  {% if score < 1 %}
  <a class="btn" href={% url 'challenge:editeCode' epreuve_id=epreuve.id%}><i class="fa fa-edit" aria-hidden="true"></i>essayer encore</a>
  {% endif %}
  <a class="btn" href={% url 'challenge:accueil'%}><i class="fa fa-list" aria-hidden="true"></i>Retourner à la liste des épreuves</a>
  </div>
  {% endblock %}
