<!DOCTYPE html>
<html lang="fr">
<title>Challenge informatique TSI</title>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'challenge/css/style.css' %}" />
</head>

<body>

<header>
  <h1> <a href={% url 'challenge:accueil'%}> Challenge informatique TSI  </a></h1> 
  <div id='user_div'>
    {% if user.is_authenticated %}
    <i class="fa fa-user" aria-hidden="true"></i>{{ user.first_name }} {{ user.last_name }}<a href={% url 'challenge:logoutView' %}><i class="fa fa-sign-out" aria-hidden="true"></i></a>
    {% else %}
    <a href={% url 'challenge:loginView' %}>Se connecter<i class="fa fa-sign-in" aria-hidden="true"></i></a>
    {% endif %}
  </div>
</header>

<div id='page'>
<section id='contenu'>
{% block contenu %}
{% with score=user.etudiant.score %}
<p>Bonjour {{ user.first_name }},</p>

{% if user.etudiant.estClasse %}
<p>Avec {{ score }} point{{ score|pluralize }}, ton classement actuel est {{ classement.pos }}/{{ classement.tot }}. Il te reste {{ statEpreuves.restantes }} épreuve{{ statEpreuves.restantes|pluralize }} à tenter.</p>
{% else %}
<p>Tu as au total {{ score }} point{{ score|pluralize }}. Tu ne fais pas partie du classement. Il te reste {{ statEpreuves.restantes }} épreuve{{ statEpreuves.restantes|pluralize }} à tenter </p>
{% endif %}
{% if user.etudiant.groupe == user.etudiant.PROFS %}
<p>
Comme tu es prof, tu as accès à la section : <a href={% url 'challenge:administration' %}>Administration </a>
</p>
{% endif %}


<h1>Épreuves</h1>
<ul class='fa-ul'>
{% for e in listeEpreuves %}
<li>
  {% if e.reussie == True %}
  <i class="fa fa-check-square-o" aria-hidden="true"></i>
  {% else %}
  <i class="fa fa-square-o" aria-hidden="true"></i>
  {% endif %}
  <a href={% url 'challenge:editeCode' epreuve_id=e.id%}><span class=numero>{{ e.numero }}</span> {{ e.titre }}</a> 
  {% for i in e.difficulte %}<i class="fa fa-star smaller" aria-hidden="true"></i>{% endfor %}
   </li>
{% endfor %}
</ul>
{% endwith %}
{% endblock %}
</section>


{% block classement %}
<aside id='joueurs'>
{% if user.is_authenticated%}
<h1>Classement ({{ user.etudiant.nomGroupe }})</h1>
<ul class=fa-ul>
{% for j in listeJoueurs %}
<li><span class="classement">{{ forloop.counter }}</span> &ndash;{{ j.first_name }} <span class="init">{{ j.last_name_init }}</span> <span class="badge">{{ j.score }}<i class="fa fa-star smaller"></i></span> </li>
{% endfor %}
</ul>
{% endif %}
</aside>
{% endblock %}
</div>
<footer>
  <div id=notification>
  </div>
</footer>
<script charset="utf-8">

dejaAffichees = [];
notifications = document.getElementById("notification");



function checkNotifications(){
  var xhttp = new XMLHttpRequest(); 
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        data = JSON.parse(this.responseText);
        for(i=0; i<data.notifications.length; i++){
          if (!(dejaAffichees.includes(data.notifications[i].date))){
            dejaAffichees.push(data.notifications[i].date);
            notif = document.createElement("DIV");
            notif.className = "notif";
            notif.innerHTML = data.notifications[i].message;
            notif.style.opacity = 0;
            notifications.appendChild(notif);
            setTimeout(function(){notif.style.opacity = 1},10);
            setTimeout(function(){notif.style.opacity=0;},9000);
            setTimeout(function(){notifications.removeChild(notif);},10000);
          }
        }
      }
  };
  var getUrl = window.location;
  var baseUrl = getUrl .protocol + "//" + getUrl.host + "/" ;
  xhttp.open("GET",baseUrl+"challenge/notifications/", true);
  xhttp.send();

}

setInterval(checkNotifications, 2000);
</script>
</body>
</html>
