<!DOCTYPE html>
<html lang="fr">
<title>Challenge informatique TSI</title>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'challenge/css/style.css' %}" />
</head>

<body>

<header>
  <h1> <a href={% url 'challenge:accueil'%}> Challenge informatique TSI  </a></h1> 
  <div id='user_div'>
    {% if user.is_authenticated %}
    <i class="fa fa-user" aria-hidden="true"></i>{{ user.first_name }} {{ user.last_name }}<a href={% url 'challenge:logoutView' %}><i class="fa fa-sign-out" aria-hidden="true"></i></a>
    {% else %}
    <a href={% url 'challenge:loginView' %}>Se connecter<i class="fa fa-sign-in" aria-hidden="true"></i></a>
    {% endif %}
  </div>
</header>

<div id='page'>
<section id='contenu'>
{% block contenu %}
{% with score=user.etudiant.score %}
<p>Bonjour {{ user.first_name }},</p>

{% if user.etudiant.estClasse %}
<p>Avec {{ score }} point{{ score|pluralize }}, ton classement actuel est {{ classement.pos }}/{{ classement.tot }}. Il te reste {{ statEpreuves.restantes }} épreuve{{ statEpreuves.restantes|pluralize }} à tenter.</p>
{% else %}
<p>Tu as au total {{ score }} point{{ score|pluralize }}. Tu ne fais pas partie du classement. Il te reste {{ statEpreuves.restantes }} épreuve{{ statEpreuves.restantes|pluralize }} à tenter </p>
{% endif %}


<h1>Épreuves</h1>
<ul class='fa-ul'>
{% for e in listeEpreuves %}
<li>
  {% if e.reussie == True %}
  <i class="fa fa-check-square-o" aria-hidden="true"></i>
  {% else %}
  <i class="fa fa-square-o" aria-hidden="true"></i>
  {% endif %}
  <a href={% url 'challenge:editeCode' epreuve_id=e.id%}>{{ e.titre }}</a> 
  {% for i in e.difficulte %}<i class="fa fa-star smaller" aria-hidden="true"></i>{% endfor %}
   </li>
{% endfor %}
</ul>
{% endwith %}
{% endblock %}
</section>

<aside id='joueurs'>
{% if user.is_authenticated%}
<h1>Classement</h1>
<ul class=fa-ul>
{% for j in listeJoueurs %}
<li><span class="classement">{{ forloop.counter }}</span> &ndash;{{ j.first_name }} <span class="badge">{{ j.score }}<i class="fa fa-star smaller"></i></span> </li>
{% endfor %}
</ul>
{% endif %}
</aside>
<div>

<footer>
</footer>
</body>
</html>
