{% extends "challenge/base.html" %}

{% block contenu %}
<h1>Classements:</h1>

{% for g in listeGroupes %}
<div class=classement>
<h1>{{ g.nomGroupe }}</h1>
<ul class=fa-ul>
    {% for j in g.joueurs %}
<li><span class="classement">{{ forloop.counter }}</span> &ndash;{{ j.first_name }} <span class="init">{{ j.last_name_init }}</span> <span class="badge">{{ j.score }}<i class="fa fa-star smaller"></i></span> </li>
{% endfor %}
</ul>
</div>
{% endfor %}
{% endblock %}

{% block classement %}
{% endblock %}
