{% extends "challenge/base.html" %}

{% block contenu %}
<h1>Évolution des scores :</h1>

<div class=evolution_scores>
  <canvas id="graphScores"> 
  </canvas>
  
  <form onsubmit="formSubmit(); return false;">
    Début : <input id="dateDebut" type="date" onchange="dateDebutChange(event);" value="{{ dateDebut }}"/>
    yMin : <input id="yMin" type="number" onchange="yMinChange(event);" value="0"/>
  </form>
 
  {% load static %}
  <script src="{% static 'challenge/js/Chart.bundle.js' %}"></script>
  <script>
    data1 = [
      {% for p in data.dataTSI1 %}
      {x:"{{ p.t }}", y:{{ p.y }}}, 
      {% endfor %}
    ];
    data2 = [
      {% for p in data.dataTSI2 %}
      {x:"{{ p.t }}", y:{{ p.y }}}, 
      {% endfor %}
    ];
    var myLineChart = new Chart(document.getElementById("graphScores"), {
    "type":"scatter",
    "data":{
      "datasets":[
        {"label":"TSI1","data":data1,"fill":false,showLine:true,"borderColor":"rgb(255, 92, 92)","lineTension":0.1},
        {"label":"TSI2","data":data2,"fill":false,showLine:true,"borderColor":"rgb(75, 192, 192)","lineTension":0.1}
      ]
      },
    "options":{
      scales : {
        xAxes : [{type : 'time', time : {unit:'week', min:"2019-09-01"}}],
        yAxes : [{ticks:{'beginAtZero':false}}]
        }
      }
    });

    function formSubmit(){
      myLineChart.options.scales.xAxes[0].time.min = document.getElementById("dateDebut").value;
      myLineChart.options.scales.yAxes[0].ticks.min = parseInt(document.getElementById("yMin").value);
      myLineChart.update();
    }

    function dateDebutChange(event){
      myLineChart.options.scales.xAxes[0].time.min = document.getElementById("dateDebut").value;
      myLineChart.update();
    }
    function yMinChange(event){
      myLineChart.options.scales.yAxes[0].ticks.min = parseInt(document.getElementById("yMin").value);
      myLineChart.update();
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function getDerniersEvenements(n){
      //Récupère la liste des derniers événements
      const Http = new XMLHttpRequest();
      var csrftoken = getCookie('csrftoken');
      const url='../../notifications/';
      Http.open("POST", url);
      Http.responseType = 'json';
      Http.setRequestHeader("X-CSRFToken",csrftoken);
      Http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
      Http.send("nbNotif="+n.toString()+"&test=rere");
      Http.onload = function(){
        notifs = Http.response['notifications'];
        for(i=0; i<notifs.length; i++){
          console.log(notifs[i]['date']);
          console.log(notifs[i]['message']);
        }
        majEvenements(notifs);
      }
    }


    function pad (str, max) {
      str = str.toString();
      return str.length < max ? pad("0" + str, max) : str;
    }

    function majEvenements(notifs){
      table = document.getElementById("evenements");
      tbody = table.getElementsByTagName("tbody")[0];
      var new_tbody = document.createElement("tbody");
      //tbody = new_tbody;
      table.replaceChild(new_tbody, tbody);
      for(i=0; i<notifs.length; i++){
        ligne = document.createElement("tr");
        cdate = document.createElement("td");
        cmessage = document.createElement("td");
        ligne.appendChild(cdate);
        ligne.appendChild(cmessage);
        new_tbody.appendChild(ligne);
        date = new Date(notifs[i]['date'])
        cdate.innerHTML = pad(date.getDate(),2)+"/"+pad(date.getMonth(),2)+"/"+date.getFullYear()+" à "+pad(date.getHours(),2)+":"+pad(date.getMinutes(),2);
        cmessage.innerHTML = notifs[i]['message'];
      }

    }

    function selectChanged(){
      s = document.getElementById('nbNotifSelect');
      getDerniersEvenements(parseInt(s.value));
    }

    document.addEventListener('DOMContentLoaded', function(event) {
      //the event occurred
      getDerniersEvenements(10);
    });

   </script>
</div>

<h1>Derniers événements</h1>

<div class=derniers_evenements>
  <table id="evenements">
  <thead>
    <tr><th align='left'>Date</th><th align='left'>Événement</th></tr>
  </thead>
  <tbody>
  </tbody>
  </table>
  <p> Afficher les 
  <select id="nbNotifSelect" onchange="selectChanged()">
    <option value="10" selected>10</option>
    <option value="50">50</option>
    <option value="100">100</option>
    <option value="500">500</option>
  </select> 
  derniers événements.
  <button onclick="selectChanged()">
    Actualiser
  </button>
</div>


{% endblock %}

{% block classement %}
{% endblock %}
