{% extends "challenge/base.html" %}

{% block contenu %}
<a href=/challenge/administration/classements/>Revenir au classement</a>
<h1>Statistiques pour {{ etudiant.user.first_name }} {{ etudiant.user.last_name }} </h1>

<ul class='fa-ul'>
{% for e in listeEpreuves %}
<li>
  {% if e.reussie == True %}
  <i class="fa fa-check-square-o" aria-hidden="true"></i>
  {% else %}
  <i class="fa fa-square-o" aria-hidden="true"></i>
  {% endif %}
  <a href={% url 'challenge:statistiques' etudiant_id=etudiant.id epreuve_id=e.id%}>{{ e.titre }}</a> 
  {% for i in e.difficulte %}<i class="fa fa-star smaller" aria-hidden="true"></i>{% endfor %}
   </li>
{% endfor %}
</ul>


{% endblock %}

{% block classement %}
<div id="codeStats">
<h1>{{ epreuve.titre }}</h1>
<div id="editor">
{{ code.code }}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    var textarea = document.getElementById("code");
    editor.setTheme("ace/theme/clouds");
    editor.getSession().setMode("ace/mode/python");
    editor.setValue(textarea.value.trim());
    editor.clearSelection();
    function copyCode(){
      textarea.value = editor.getSession().getValue();
    } 
</script>

<p> Score : {{ code.score }}</p>
<a class="btn" href={% url 'challenge:verifieCode' etudiant_id=etudiant.id epreuve_id=epreuve.id %}>MAJ score</a>
</div>
{% endblock %}
