<!DOCTYPE html>
<html lang="fr">
<title>Épreuve {{ epreuve.numero }}</title>
<head>
<style type="text/css" media="screen">
    #editor { 
      height:275px;
      width:70%;
    }
</style>
</head>
<body>
<h1>Épreuve {{ epreuve.numero }}</h1>
<p>{{ epreuve.enonce  }}</p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'challenge:ajouteCode' epreuve.id %}" method="post" onsubmit="copyCode()">
  {% csrf_token %}
  <div id="editor"></div>
  <textarea name="code" id='code' style="display: none;"> </textarea> 
  <input type="submit" value="soumettre"/>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/python");
    var textarea = document.getElementById("code");
    function copyCode(){
      textarea.value = editor.getSession().getValue();
    } 
</script>
</body>
</html>
