
header h1{
  margin-left: auto;
  margin-right:auto;
  text-align: center;
}

aside#joueurs{
  float: right;
  width: 250px;
  margin-right : -250px
  
}

aside#joueurs h1{
  text-align: center;
}

section#contenu{
  float: left;
  width: 100%;
}

div#page{
  margin-right: 250px;
  margin-left: 40px;
   
}


#editor { 
  height:275px;
  width:70%;
}
