@import url('font-awesome.min.css');

body{
  margin:0px;
  font-family: fontawesome;
}

a{
  text-decoration:none;
  color:#224;
  padding:3px;
}

a:hover{
  text-decoration:underline;
}

h1 a:hover{
  text-decoration:none;
}

a.btn{
  padding:10px;
  border-radius:5px;
  background: #555;
  color:#FFF;
}

a.btn:hover{
  background: #888;
  text-decoration:none;
}

header{
  margin: 0px;
  padding: 20px;
  background-color: #FAFAFF;
  border-bottom: solid #DDD 1px;
  font-weight: 300;
}

h1 {
  font-weight: lighter;
}

header h1{
  margin-left: auto;
  margin-right:auto;
  margin-top:0px;
  margin-bottom: 0px;
  text-align: center;
}

aside#joueurs{
  float: right;
  width: 240px;
  margin-right: -250px;
  font-size: 0.8em;
  color: #333;
  line-height: 1.5;
}

aside#joueurs h1{
  text-align: center;
  border-bottom: solid #DDD 1px;
}


span.badge:before{
  content:"("
}

span.badge:after{
  content:")"
}

span.classement{
  background:#555;
  border-radius:10px;
  font-weight: bold;
  font-size: 0.9em;
  padding: 2px 7px;
  color: #FFF;
  vertical-align:middle;
  min-width:40px;
}
/*
span.badge{
  background:#555;
  border-radius:10px;
  font-weight: bold;
  padding: 2px 7px;
  color: #F8F8F8;
}*/

section#contenu{
  float: left;
  width: 700px;
  line-height: 1.5;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; 
  font-size: 14px;
  color: #333;
  margin-left:50px;
}

section h1{
  width: 100%;
  border-bottom: solid #CCC 1px; 
  line-height:1.5;
}

i.smaller{
  font-size:12px;
  letter-spacing:0px;
}

i.fa-user{
  margin-right:3px;
}

i.fa-list{
  margin-right:4px;
}

i.fa-edit{
  margin-right:4px;
}

div#page{
  margin-right: 250px;
  margin-left: 40px;
  margin-top: 0px; 
}


#editor { 
  height:275px;
  width:100%;
  border:#CCC solid 1px;
  margin:20px;
  border-radius:5px;
}

header div#user_div{
  float: right;
  font-size:14px;
}

header div i.fa{
  margin-left:9px;
}

p.succes{
  font-size:20px;
  font-weight:lighter;
  border-radius:10px;
  background: #080;
  padding:10px;
  text-align:center;
  border:solid #AEA 1px;
  width:500px;
  margin-left:auto;
  margin-right:auto;
  color:#FFF;
}

p.succes i{
  margin-left:30px;
  margin-right:30px;
}

p.echec{
  font-size:20px;
  font-weight:bold;
  border-radius:10px;
  background: #800;
  padding:10px;
  text-align:center;
  border:solid #EAA 1px;
  width:500px;
  margin-left:auto;
  margin-right:auto;
  color:#FFF;
}

p.echec i{
  margin-left:30px;
  margin-right:30px;

}

p.sortie{
  margin-left:50px;
  font-family:monospace;
  padding-left:10px;
  padding-top:5px;
  padding-bottom:5px;
  border-left: solid #CCC 1px;
  white-space: pre; 
}


code {
    font-family: monospace;
    /* background: #f0f0d2; */
    padding: 2px 5px 2px 5px;
    border: solid #CCC 1px;
    border-radius: 3px;
}

pre{
  border: solid #CCC 1px;
  border-radius: 3px;
  padding:5px;
  display:inline-block;

}
pre code{
  border: none;
}

div#boutons{
  margin: 30px;
}
